<div id="inner-contents" class="row">
  <div class="row">
    <h1>Where can I park in Seattle?</h1>
    <a id="find-parking" class="btn btn-primary">Find parking!</a>
    <a id="search-parking" class="btn btn-primary" onclick="toggle_visibility('search-bar');">Search for a location</a>
    </div>
  <div class="col-md-8">
    <!-- add show search bar on click -->
      <div id="search-bar">
        <label class="sr-only" for="address">Search for locations</label>
        <input id="address" type="textbox" value="The Space Needle" class="form-control">
        <input type="button" value="Go!" onclick="codeAddress()" class="btn btn-success">
      </div>

      <div id="loading">
        <%= image_tag('loader-small.gif') %>
        <strong><div id="current"></div></strong>
      </div>

        <div id="map_canvas"></div>
  </div>
      <br><br>
  <div class="col-md-4">
    <table class="table-condensed" id="legend">
      <tr>
        <td><%= image_tag('legendimages/temp-no-parking.png') %></td>
        <td>Temporary No Parking</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/paid-parking.png') %></td>
        <td>Paid Parking</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/restricted-zone.png') %></td>
        <td>Restricted Parking Zone</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/time-limit.png') %></td>
        <td>Time Limited Parking</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/carpool-parking.png') %></td>
        <td>Carpool Parking</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/no-parking.png') %></td>
        <td>No Parking Allowed</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/unrestricted.png') %></td>
        <td>Unrestricted Parking</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/am-restrictions.png') %></td>
        <td>AM Restrictions</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/am-pm-restrictions.png') %></td>
        <td>AM/PM Restrictions</td>
      </tr>
      <tr>
        <td><%= image_tag('legendimages/pm-restrictions.png') %></td>
        <td>PM Restrictions</td>
      </tr>
    </table>
    <br>
    <a class="btn btn-xs btn-primary" onclick="removeOverlay()">Clear Map</a>
    <a class="btn btn-xs btn-primary" id="about">About</a>
  </div>

</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
