/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

colors from background:
dark:#282832
medium: #292C35
light:#30333C
*/

body {
  background-image: url("background.gif");
  background-repeat: repeat;
}

.content {
  width: 60%;
  margin: auto;
  background-color: #f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#inner-contents {
  width:100%;
  text-align: center;
  margin: auto;
}

.btn-primary {
  color: #f8f8f8;
  background-color: #292C35;
  border-color: silver;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: silver;
  background-color: #282832;
  border-color: #282832;
  text-decoration: none;
}


a:visited {
  color: black;
 }


 #map_canvas{
  margin: auto;
 }
#lat-longs {

}

