/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

colors from background:
dark:#282832
medium: #292C35
light:#30333C
*/

body {
  background-image: image-url("background.gif");
  background-repeat: repeat;
}

.content {
  width: 70%;
  margin: auto;
  background-color: #f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#inner-contents {
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  color: #f8f8f8;
  background-color: #292C35;
  border-color: silver;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: silver;
  background-color: #282832;
  border-color: #282832;
  text-decoration: none;
}

a:visited {
  color: black;
}

#map_canvas{
 margin: 50px;
 width: 400px;
 height: 400px;
}

#search-bar {
  display: none;
  position: absolute;
  top: 55px;
  left: 60%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  padding: 3px;
  vertical-align: auto;
}

td {
  text-align: left;
}

#address {
  width: 70%;
  display: inline;
}

#loading {
  position: absolute;
  margin: 50px;
  width: 400px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  height: 400px;
}

#loading img {
  width: 50px;
  margin-top: 200px;
}

#legend {
  margin-top: 30px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 15;
}

#modal {
    position: absolute;
    background: rgba(0,0,0,0.2);
    border-radius: 14px;
    padding: 5px;
    z-index: 20;
}


#close {
    position: absolute;
    background: image-url('close.png') 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    text-indent: -9999px;
    top: -7px;
    right: -7px;
}

#modal-content {
    border-radius: 5px;
    background: #fff;
    padding: 20px;
}

#about-contents {
  max-width: 400px;
}

#about-contents img {
  display: inline;
}

#contact {
  width: 80%;
  margin: auto;
}
