<!DOCTYPE html>
<html>
<head>
  <title>Seattle Street Parking</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="initialiseMap();initialise()">

    <div class="content">
      <%= yield %>
    </div>

</body>
</html>
